<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=bookSuccess%>
    <%=bookerr%>
    <% if(title === "unknown"){ %>
        <h1>Opps! Error occured</h1>
    <%} else{ %>
        <h1>Your <%=title%> book is found. Download and read it.</h1>
    <% } %>
</body>
</html>